

.hero {
  padding: 10%;
  background-image: url(../assets/cinema-hero.jpeg) !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  width: 100% !important;
}

hr {
  border: 5px solid black;
}

.hero-text{
  text-shadow: 0 0 2px black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.movie-img {
  border: 2px solid white;
  border-radius: 10%;
}

.row-bottom-margin {
  margin-bottom: 2px;
}

